/* override table width restrictions */
@media screen and (min-width: 767px) {

   table.reece-wrap td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   table.reece-wrap {
      overflow: visible !important;
   }
}



h2 {
    color: #2980B9;
    border-top:  #2980B9 thin solid;
    border-bottom:  #2980B9 thin solid;
}

h3 {
    color: #888;
    text-decoration: underline;
}
