/* override table width restrictions */
@media screen and (min-width: 767px) {
  table.clean-wrap td {
    /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }

  table.reece-wrap {
    overflow: visible !important;
  }

  .wy-table-responsive table.reece-wrap td,
  .wy-table-responsive table.reece-wrap th {
    white-space: normal;
  }
}

h2 {
  color: #2980b9;
  border-top: #2980b9 thin solid;
  border-bottom: #2980b9 thin solid;
}

h3 {
  color: #888;
  text-decoration: underline;
}

figure {
  border: thin solid #6ab0de;
  padding: 2px;
}

figure img {
  margin-bottom: 5px;
}

figcaption {
  margin: 0;
  padding: 0;
}

figcaption p,
figcaption div.legend {
  background: #e7f2fa;
  padding: 3px;
}

figcaption p .caption-text::before {
  content: "Figure: ";
}

figcaption p .caption-text {
  font-weight: bold;
}

figcaption p {
  line-height: unset;
  margin: unset;
  display: inline-block;
  width: 100%;
}

.legend p {
  font-size: smaller;
  line-height: unset;
  margin: 0;
}

.legend p:not(:last-child) {
  margin-bottom: 10px;
}

/* nested ul leads to awkward spacing of list items.
   This change doesn't seem to induce any other odd spacing */
.rst-content .section ul p {
  margin-bottom: 0px;
}

span.std-term::after {
  content: " 🛈";
}
